<p>
  <%= f.label :name, "Name:" %>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :description, "Descriptioin:" %>
  <%= f.text_area :description %>
</p>

<p>
  Category: <%= f.collection_select(:category_id, Category.all, :id, :name) %>
</p>

<p>
  <%= f.fields_for :location do |location_form| %>
    <p>
      <%= location_form.label :name, "Location:" %>
      <%= location_form.text_field :name %>

      <% unless location_form.object.new_record? %>
        <%= location_form.label :_destroy, "Remove:" %>
        <%= location_form.check_box :_destroy %>
      <% end %>
    </p>
  <% end %>
</p>

<p>
  <%= f.label :capacity, "Capacity" %>
  <%= f.text_field :capacity %>
</p>

<p>
  <%= f.collection_check_boxes(:group_ids, Group.all, :id, :name) %>
</p>

<% if @event.errors.any? %>
  <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>