<h1>Admin Page</h1>
<div class="container">
  <p>
    Name:
    <%= @event.name %>
  </p>

  <p>
    Description:
    <%= @event.try(:description) %>
  </p>

  <p>
    Location:
    <%= @event.location.try(:name) %>
  </p>

  <p>
    Category:
    <%= @event.category.try(:name) %>
  </p>

  <p>
    Status:
    <%= @event.try(:status) %>
  </p>

  <p>Groups:
    <ul>
    <% @event.groups.each do |g| %>
      <li>
        <%= g.name %>
      </li>
    <% end %>
    </ul>
  </p>

    <p>
      <%= link_to 'Attendees:', event_attendees_path(@event) %>
      <ul>
        <% if @event.attendees %>
          <% @event.attendees.each do |atd| %>
            <li>
              <%= atd.name %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </p>

  <p>
    Capacity:
    <%= @event.capacity %>
  </p>
</div>

<div class="container">
  <p>
    <%= link_to 'Back to admin index', admin_events_path %>
    <%= link_to 'edit', edit_admin_event_path(@event) %>
    <%= link_to 'delete', admin_event_path(@event), :method => :delete, :data => { :confirm => "Are you sure?" } %> 
    <%#= link_to 'Back to index', :controller => 'events', :action => 'index' %>
  </p>
</div>