<!DOCTYPE html>
<html>
<head>
  <title><%= "Admin Page" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>
<p style="color: red"><%= flash[:alert] %></p>

<div>
  <% if current_user %>
    hello~ 
    <%= current_user.try(:username) %><br />
    <%= link_to 'log out', destroy_user_session_path, :method => :delete %>
    <%= link_to 'modify password', edit_registration_path(:user) %>
  <% else %>
    <%= link_to 'sign up', new_registration_path(:user) %>
    <%= link_to 'sign in', new_session_path(:user) %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
